<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
    <img 
    class="rounded-full w-12 h-12"
    src="https://media.licdn.com/dms/image/v2/D4E03AQFtxFr72a8kDg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1711379154424?e=2147483647&v=beta&t=KJKNexjBglZpKnfRMFU0yTCKuTxEWYwv5QXfnb0o-p4" 
    alt="Uriel León Foto"
    />

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#">Inicio</a>
        <a href="#about">Sobre mí</a>
        <a href="#experience">Experiencia</a>
        <a href="#contact">Proyectos</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>